*.l[ao]
*~
*.o
*.a
!/man/*
!/bin/
/bin/*
compile
install-sh
depcomp
missing
src/.clang-format
src/linux/.clang-format
src/win/.clang-format
config.guess
config.sub
test-driver
/autom4te.cache/
*.Po
Makefile
Makefile.in
config.log
config.status
aclocal.m4
configure
googet
shuffler
*.swp
src/*.swp
